#home.container
  %h2 Find your tribe.
  %p= 'Join friends from your neighborhood and work commute area.'
  #map.container(ng-controller="MapController")
    %h3 Check out where the current tribes are:
    <leaflet></leaflet>
    %p= 'Made with Leaflet, Stamen Design & geoJSON'