#edit_profile.container(ng-controller="EditProfileController")
  .col-md-offset-3
    %h3 Complete that profile, fool!
    %form.form-horizontal(name="editProfileForm" role="form" ng-model="user" ng-submit="editProfile()")
      .form-group
        %label(for="home-zip")
          Home Zip
        %input(name="home-zip" ng-model="user.home_zip" type="text" placeholder="home zip" id="home-zip")
      .form-group
        %label(for="work-zip")
          Work Zip
        %input(name="work-zip" ng-model="user.work_zip" type="text" placeholder="work zip" id="work-zip")
      %input.btn.btn-submit(type="submit" value="Edit That Profile!")
