// Colors
$primary: #6cc907;
$white: #fff;
$lightGreen: #cbe7ac;
$dark_gray: #333;
$light_gray: #999;
$orange: #ff9900;
$lightBlue: #00ccff;
$pink: #ff66ff;
$linkColor: #999;

//Modal
$modalWidth: 700px;
